services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: ledger
    ports:
      - "5433:5432"
    volumes:
      - ./migrations/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
